
.card-container {
    width: 400px;
}

.card-button {
    width: 90px;
}

.card-actions {
    flex-direction: column;
}

.card-button-spacer {
    width: 10px;
}


.card-title {
    justify-content: center;
}

.card-buttons-container {
    justify-content: center;
}