<mat-grid-list cols="12" color="primary">
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="7">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title align="center">
                    Authentication App
                </mat-card-title>
                <mat-card-subtitle align="center">
                    This is a boilerplate for authentication that stores a JWT in
                    an HTTP-Only cookie. It also uses Angular.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngIf="!currentUser.isLogged">
                    <mat-card-actions class="hero-buttons-container">
                        <button mat-stroked-button class="hero-button" [routerLink]="['login']">Login</button>
                        <span class="button-spacer"></span>
                        <button mat-stroked-button class="hero-button" [routerLink]="['signup']">Sign up</button>
                    </mat-card-actions>
                </ng-container>
                <ng-container *ngIf="currentUser.isLogged">
                    <mat-card-actions class="hero-buttons-container">
                        <button mat-stroked-button class="hero-button" [routerLink]="['profile']">Profile</button>
                        <span class="button-spacer"></span>
                        <button mat-stroked-button class="hero-button" (click)="onLogout()">Logout</button>
                    </mat-card-actions>
                </ng-container>
            </mat-card-content> 
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>