<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header class="card-title">
            <mat-card-title class="mat-h1">
                Update profile
            </mat-card-title>
        </mat-card-header>
        <mat-card-content align="center">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="card-input">
                    <mat-label>
                        New Name
                    </mat-label>
                    <input matInput type="text" formControlName="changeName">
                </mat-form-field>
                <mat-form-field class="card-input">
                    <mat-label>
                        New E-mail
                    </mat-label>
                    <input matInput type="email" formControlName="changeEmail">
                </mat-form-field>
                <mat-form-field class="card-input">
                    <mat-label>
                        New Password
                    </mat-label>
                    <input matInput type="password" formControlName="changeNewPassword">
                </mat-form-field>
                <mat-card-actions class="card-controls">
                    <button class="card-button" mat-flat-button color="primary" type="submit">
                        Update
                    </button>
                    <span class="card-button-spacer"></span>
                    <button class="card-button" mat-flat-button color="primary" type="reset" [routerLink]="['/profile']">
                        Back to profile
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>