<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header class="card-title">
            <mat-card-title class="mat-h1">
                Profile
            </mat-card-title>
        </mat-card-header>
        <mat-card-content align="center">
            <div class="card-item">
                <div class="card-item__name">
                    Name:
                </div>
                <div class="div">
                    {{profile.name}}
                </div>
            </div>
            <div class="card-item">
                <div class="card-item__name">
                    Email:
                </div>
                <div class="div">
                    {{profile.email}}
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="card-button" mat-flat-button color="primary" (click)="onLogout()">Logout</button>
        </mat-card-actions>
    </mat-card>
</div>