.card-input {
    width: 100%;
}

.card-button {
    width: 100%;
}

.card-actions {
    flex-direction: column;
}

.card-button-spacer {
    height: 16px;
}

.card-title {
    justify-content: center;
}