<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header class="card-title">
            <mat-card-title class="mat-h1">
                Sigh up
            </mat-card-title>
        </mat-card-header>
        <mat-card-content align="center">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="card-input">
                    <mat-label>
                        Name
                    </mat-label>
                    <input matInput type="text" formControlName="signupName">
                    <mat-error>
                        Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="card-input">
                    <mat-label>
                        E-mail
                    </mat-label>
                    <input matInput type="email" formControlName="signupEmail">
                    <mat-error>
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="card-input">
                    <mat-label>
                        Password
                    </mat-label>
                    <input matInput type="password" formControlName="signupPassword">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="card-input">
                    <mat-label>
                        Repeat password
                    </mat-label>
                    <input matInput type="password" formControlName="signupRepeatPassword">
                    <mat-error>
                        You need to repeat your password
                    </mat-error>
                </mat-form-field>
                <mat-card-actions class="card-actions">
                    <button class="card-button" mat-flat-button color="primary" type="submit" [disabled]="!signupForm.valid">
                        Sign up
                    </button>
                    <span class="card-button-spacer"></span>
                    <button class="card-button" mat-flat-button color="primary" type="reset" [routerLink]="['/login']">
                        I already have an account
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>