.form-input {
    width: 100%;
}

.form-button {
    width: 100%;
}

.form-actions {
    flex-direction: column;
}

.form-button-spacer {
    height: 16px;
}

.form-title {
    justify-content: center;
}